<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbes Billionaires 2021 Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="shortcut icon" href="">
</head>
<body>

    <!-- <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="https://asligh.github.io/group_project_3/">Forbes Billionaires 2021 Analysis</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./info">Billionaires' Info</a>
                </li>
            </ul>
        </div>
    </nav> -->

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Welcome</h1>
          <p>Please use the interactive charts below to explore the stories of billionaires</p>
          <div class="col-md-2 col-md-12 text-center">
            <div>
              <h5>Country:</h5>
              <select id="ddlCountries" onchange="countryOptionChanged(this.value)"></select>
            </div>
            <br>
            <div>
                <input id='btnExplore' type="button" value="Explore">               
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-5">
          <div id="line"></div>
        </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <div class="col-md-4">
          <h2>World map</h2> 
          <div id="map"></div>
          <!-- Leaflet JS -->
         <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
             integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
             crossorigin=""></script>
        </div>
        <div class="col-md-4">
          <h2>Sum of Net Worth by Country</h2> 

        </div>
      </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/billionaire.js') }}"></script>
</body>
</html>